@import url(//db.onlinewebfonts.com/c/e3e3a81b2544f4508a75573a04e0cafa?family=ITC+Korinna);

.cat-row {
  font-family: 'ITC Korinna';
}

.div-table {
  background: rgb(27, 27, 202);
}

.unfinished {
  background: rgb(27, 27, 202);
  color: white;
}

.finished {
  background: white !important;
  color: rgb(27, 27, 202);
}

.ult {
  opacity: 0;
  pointer-events:none;
  transition: opacity 0.5s;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  /* overflow-y:scroll; */
  background: rgb(27, 27, 202);
  position: fixed;
  font-family: 'ITC Korinna';
  font-size: 1.5vw;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ult.visible {
  opacity: 1;
  pointer-events:initial;
}

.filled {
  height: 100%;
  width: 100%;
}

.width-40 {
  width: 40%;
}

.white-b {
  background: white !important;
  color: rgb(27, 27, 202) !important;
  border-color: rgb(27, 27, 202) !important;
}

.submit-btn {
  font-size: 24px !important;
}

.correct-btn {
  font-size: 12px !important;
  font-weight: 600 !important;
}

.score {
  font-size: 20px !important;
}

.score-container {
  height: 400px;
}

.painting {
  max-height:500px;
  max-width:500px;
  height:auto;
  width:auto;
}

.textareaJV {
  width: 220px;
}

.round2 {
  box-shadow: none !important;
}

.cardy {
  width: '18rem';
}

.no-border {
  border: none !important
}

.cloud {
  max-height: 300px;
  max-width: 300px;
 
}

.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.auth-inner {
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 10px 50px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  /* transition: all .3s; */
}