@import url(//db.onlinewebfonts.com/c/e3e3a81b2544f4508a75573a04e0cafa?family=ITC+Korinna);

.cat-row {
  font-family: 'ITC Korinna';
}

.div-table {
  background: rgb(27, 27, 202);
}

.ult {
  opacity: 0;
  pointer-events:none;
  transition: opacity 0.5s;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgb(27, 27, 202);
  position: fixed;
  font-family: 'ITC Korinna';
  font-size: 2vw;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ult.visible {
  opacity: 1;
  pointer-events:initial;
}

.filled {
  height: 100%;
  width: 100%;
}

.width-40 {
  width: 40%;
}

.white-b {
  background: white !important;
  color: rgb(27, 27, 202) !important;
  border-color: rgb(27, 27, 202) !important;
}